.tracks-feed-entry {
    margin-bottom: 50px;
}

.gpx-map {
    border: 1px #aaa  solid;
    margin: 1em auto;
}

.gpx-map header {
    padding: 0.5em;
}

.gpx-map h3 {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.gpx-map .start {
    font-size: smaller;
    color: #444;
}

.gpx-map .map {
    border: 1px #888 solid;
    border-left: none;
    border-right: none;
    height: 200px;
    margin: 0;
}

.gpx-map footer {
    background: #f0f0f0;
    padding: 0.5em;
}

.gpx-map ul.info {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: smaller;
}

.gpx-map ul.info li {
    color: #666;
    padding: 2px;
    display: inline;
}

.gpx-map ul.info li span {
    color: black;
}

#drop_zone {
    border: 2px dashed #bbb;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    color: #bbb;
}
