<!doctype html>
<html lang="ru">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% if title %}
    <title>{{ title }} - Mappad</title>
{% else %}
    <title>Добро пожаловать в Mappad!</title>
{% endif %}
</head>
<body class="text-center">
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-md-4 mx-auto">
            <h1 class="mb-5">Mappad</h1>
                <form class="card card-body" action=""method="post">
                    {{ form.hidden_tag() }}
                    <h3 class="h3 mb-3 font-weight-normal">Авторизация</h3>

                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-danger" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <fieldset>
                        <div class="form-group has-error">
                            {{ form.username.label(class_="sr-only") }}
                            {{ form.username(size=32, id="inputLogin", class_="form-control input-lg", placeholder="Логин") }}
                        </div>
                        <div class="form-group has-error">
                            {{ form.password.label(class_="sr-only") }}
                            {{ form.password(size=32, id="inputPassword", class_="form-control input-lg", placeholder="Пароль") }}
                        </div>
                        <div class="form-group form-check">
                            {{ form.remember_me() }} {{ form.remember_me.label(class_='form_check_label') }}
                        </div>

                        {{ form.submit(class_="btn btn-lg btn-primary btn-block") }}
                    </fieldset>
                    <p class="mt-2 mb-3">
                        <a href="{{ url_for('user.register') }}">Новый пользователь</a>
                    </p>

                    <p class="mt-5 mb-3 text-muted">
                        &copy; 2019
                        <a href="https://bayborodin.ru" target="blank">Nikolay Bayborodin</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
