{% extends 'base.jinja' %}

{% block content %}
<h2>Добавить GPS трек</h2>
<form action="" method="post" novalidate>
    <div class="form-group">
        <input type="file" id="gpx-file" name="gpx-file" accept=".gpx">
    </div>
</form>
{% endblock %}
