<html>
<head>
{% if title %}
    <title>{{ title }} - Mappad</title>
{% else %}
    <title>Добро пожаловать в Mappad!</title>
{% endif %}
</head>
<body>
    <h1>Mappad</h1>
    <h2>Сохраняйте GPS треки и делитесь ими с друзьями</h2>
</body>
</html>
