{% extends 'base.jinja' %}

{% block content %}
<div class="feed-container">
    <div class="feed">
        <div class="tracks-feed-entry">
            <div id="map">sdf</div>
        </div>
    </div>
</div>
{% endblock %}
