{% extends 'base.jinja' %}

{% block content %}
<div class="feed-container">
    <div class="feed">
        <div class="tracks-feed-entry">
            <div id="map" style="width: 600px; height: 400px;"></div>
        </div>
    </div>
</div>
{% endblock %}
